<!DOCTYPE html>
<html>
<head>
<title>Dashboard Telemetría</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<h2>Telemetría Casa1</h2>

<canvas id="chart"></canvas>

<script>

const labels = {{ timestamps | tojson }};
const temperature = {{ temperature | tojson }};
const humidity = {{ humidity | tojson }};
const distance = {{ distance | tojson }};

new Chart(document.getElementById("chart"), {
    type: "line",
    data: {
        labels: labels,
        datasets: [
            {
                label: "Temperatura (C)",
                data: temperature,
                borderColor: "red"
            },
            {
                label: "Humedad (%)",
                data: humidity,
                borderColor: "blue"
            },
            {
                label: "Distancia (cm)",
                data: distance,
                borderColor: "green"
            }
        ]
    }
});

</script>

</body>
</html>